@use 'summarize' as *;
@use 'reset' as *;

html {
	font-size: calc(100vw / 375 * 10);
	@include tab {
		font-size: 62.5%;
	}
}
.container {
	position: relative;
	z-index: 1;
}
body {
	font-family: $fontJp;
	line-height: 1;
	letter-spacing: 0.1em;
}
.main-container {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
main {
	overflow: hidden;
	z-index: 1;
	padding: 3rem 0;
	@include pc {
		flex-grow: 1;
		padding: 6rem 0;
	}
}
img {
	width: 100%;
	height: auto;
}
a {
	color: inherit;
}
small {
	font-size: inherit;
}
button {
	background-color: transparent;
	border: none;
	cursor: pointer;
	outline: none;
	padding: 0;
	appearance: none;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	img[src$='.svg'] {
		width: 100%;
	}
}

.hidden-text {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border: 0;
}
.sp {
	&_br {
		display: inline !important;
		@include tab {
			display: none !important;
		}
	}
	&_only {
		display: block !important;
		@include tab {
			display: none !important;
		}
	}
}
.pc {
	&_br {
		display: none !important;
		@include tab {
			display: inline !important;
		}
	}
	&_only {
		display: none !important;
		@include tab {
			display: block !important;
		}
	}
}
