$white: #ffffff;
$black: #000000;
$gray: #ccc;
$lightBlueBackground: #f7faff;

$gradientBtnColor: linear-gradient(90deg, #77bbff, #5043df, #c87ef3);

$fontJp: "Noto Sans JP", sans-serif;
$fontEn: "Open Sans", sans-serif;
