@use "@/styles/summarize" as *;

.content {
  padding: 0 1rem;
  margin-top: 5rem;
  @include pc {
    margin-top: 0;
    padding: 0 1rem;
  }
}

.title {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 3rem;
  @include pc {
    font-size: 2.4rem;
  }
}

.item {
  & + & {
    margin-top: 2rem;
  }
  label {
    display: inline-block;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    @include pc {
      font-size: 1.4rem;
    }
  }
  label[for="category"] {
    display: block;
  }
  input[type="text"] {
    width: 100%;
    padding: 1rem;
    border-radius: 0.4rem;
    border: 0.1rem solid $gray;
  }
  select {
    width: 50%;
    padding: 1rem;
    border-radius: 0.4rem;
    border: 0.1rem solid $gray;
  }
}

.button {
  background: $gradientBtnColor;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20rem;
  height: 4rem;
  border-radius: 100rem;
  color: $white;
  text-align: center;
  font-size: 1.4rem;
  font-weight: bold;
  margin: 3rem auto 0;
  @include pc {
    margin-left: 0;
    margin-right: 0;
  }
}
